---
layout: default
---

<div class="home">

{% for post in site.posts %}
  {% capture ym %}{{ post.date | date:"%Y 年 %m 月" }}{% endcapture %}
  {% if yearmonth != ym %}
    {% assign yearmonth = ym %}
    </ul>
    <blockquote id="{{ ym }}">{{ ym }}</blockquote>
    <ul>
  {% endif %}
  <li>
  <time datetime="{{ post.date | date_to_string }}">{{ post.date | date:"%d 日" }}{{ date_to_string }}</time>
  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
  </li>
{% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
