---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}
<span class="link-to-post" class="link-to-post__next">
{% if page.previous %}
	&nbsp&nbsp&nbsp<a  href="{{ page.previous.url }}">◣ 上 • {{ page.previous.title }}</a>
{% else %}
	&nbsp&nbsp&nbsp<a>◣ 第一篇</a>
{% endif %}
&nbsp&nbsp&nbsp
{% if page.next %}
	&nbsp&nbsp&nbsp<a href="{{ page.next.url }}">下 • {{ page.next.title }} ◢ </a>
{% else %} 
	<a>最后一篇 ◢ </a>
{% endif %}
</span>
  </div>
<!-- 多说评论框 start -->
	<div class="ds-thread content-frame" data-thread-key="{{ page.url }}" data-title="{{ page.title }}" data-url="{{ page.url | prepend: site.baseurl | prepend: site.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"mmm"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

</article>
