---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h3 class="post-title" itemprop="name headline">{{ page.title }}
    {% for post in site.posts %}
	{% capture ym %}
		{{ post.date | date:"%Y 年 %m 月 %d 日" }}
	{% endcapture %}
	{% if yearmonth != ym %}
		{% assign yearmonth = ym %}
	<a href="#{{ ym }}">{{ ym }}</a>
	{% endif %}
{% endfor %}
</h3>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
{% if page.previous %}
	<a href="{{ page.previous.url }}">◣ 上 • {{ page.previous.title }}</a>
{% else %}
	<a>◣ 上 • 尽头</a>
{% endif %}
{% if page.next %}
	<a href="{{ page.next.url }}">下 • {{ page.next.title }} ◢ </a>
{% else %} 
	<a>下 • 尽头 ◢ </a>
{% endif %}
</article>
